@font-face {
  font-family: 'Levenim';
  src: local("Levenim MT"), url("../public/lvnm.woff") format("woff"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto Slab", serif; }

.container {
  display: grid;
  grid-template-rows: 80vh 1fr;
  grid-template-columns: [full-start] 15vw [content-start] repeat(3, [col-start] 1fr [col-end]) [content-end] 15vw [full-end];
  background: linear-gradient(to bottom, #4e6c9e, #edac8e);
  height: 5000px; }

/*
.container {
  height: 2000px;
  position: relative;
}

.before {
  position: absolute;
  top: 2rem;
  left: 2rem;
  margin: 2rem;
  color: rgb(1, 1, 105);
  display: inline-block;
  font-size: 10rem;
  font-family: $font-logo;
  transition: all 0.6s cubic-bezier(1, 0.23, 0.5, 0.99);

  transform: scale(1);
}

.after {
  // transform: translate(500px, 500px);
}
*/
.logo {
  display: inline-block;
  font-family: "Levenim", sans-serif;
  font-size: 30rem;
  font-weight: 400;
  color: #f0f0f0;
  margin-top: 2rem; }

.heading-2 {
  color: #f0f0f0;
  font-size: 7rem;
  justify-self: center; }

.description {
  display: grid;
  grid-template-rows: 80vh max-content;
  grid-template-columns: repeat(3, minmax(max-content, 1fr)); }
  .description #is {
    position: sticky;
    top: 8vh; }
  .description .heading-2 {
    grid-row: 1 / span 1;
    grid-column: 1 / -1; }
  .description__list {
    list-style: none;
    color: #f0f0f0;
    font-size: 4rem; }
    .description__list > :nth-child(2) {
      top: 45vh; }
    .description__list > :nth-child(3) {
      top: 55vh; }
    .description__list > :nth-child(4) {
      top: 65vh; }
    .description__list > :nth-child(5) {
      top: 75vh; }
    .description__list > li {
      padding: 1.5rem 2rem;
      position: sticky;
      margin-bottom: 20rem;
      margin-top: 1rem; }
    .description__list > :first-child {
      text-align: center;
      padding-bottom: 3rem;
      position: sticky;
      top: 27vh;
      padding-bottom: 10rem; }
    .description__list--dima {
      grid-column: -2 /-1; }

.header {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  justify-self: center; }

.main {
  grid-column: content-start / content-end; }
