.slide-right {
  transform: translateX(25vw);
  opacity: 0; }
  @media only screen and (max-width: 50em) {
    .slide-right {
      opacity: 1;
      transform: translateX(0); } }

.slide-left {
  transform: translateX(-25vw);
  opacity: 0; }
  @media only screen and (max-width: 50em) {
    .slide-left {
      opacity: 1;
      transform: translateX(0); } }

.slide-hidden {
  transform: translateY(-6rem);
  opacity: 0; }
  @media only screen and (max-width: 50em) {
    .slide-hidden {
      transform: translateY(0);
      opacity: 1; } }

.slide-down {
  transform: translateY(0);
  opacity: 1; }

.change-color {
  color: #3f3f3f; }

.album__cover-logo {
  filter: blur(2rem);
  opacity: 0; }

.animation-fadeout {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.animation-fadein {
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards; }

.show-button {
  animation-name: show;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

@keyframes fadeout {
  0% {
    filter: blur(0);
    opacity: 1; }
  100% {
    filter: blur(2rem);
    opacity: 0; } }

@keyframes fadein {
  0% {
    filter: blur(2rem);
    opacity: 0; }
  100% {
    filter: blur(0);
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 93.75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 80vh 1fr min-content 29rem;
  grid-template-columns: [full-start] 13vw [content-start] repeat(3, [col-start] 1fr [col-end]) [content-end] 13vw [full-end];
  background: linear-gradient(to bottom, #4d7bcc, #3f6bb6);
  color: #f0f0f0; }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 75vh 1fr min-content 33vh; } }

@font-face {
  font-family: 'Levenim';
  src: local("Levenim MT"), url("../public/font/lvnm.woff") format("woff"); }

body {
  font-family: "Milonga", sans-serif; }

::selection {
  color: #5e87cf;
  background-color: #555555; }

.logo {
  display: inline-block;
  font-family: "Levenim", sans-serif;
  font-size: 29rem;
  font-weight: 400;
  margin-top: 2rem; }
  @media only screen and (max-width: 81.25em) {
    .logo {
      font-size: 22vw; } }
  @media only screen and (max-width: 62.5em) {
    .logo {
      margin-top: 8rem; } }
  @media only screen and (max-width: 50em) {
    .logo {
      font-size: 24vw; } }

.heading-2 {
  font-size: 6rem;
  text-align: center; }
  @media only screen and (max-width: 62.5em) {
    .heading-2 {
      font-size: 4.8rem; } }
  @media only screen and (max-width: 50em) {
    .heading-2 {
      font-size: 7.2vw; } }

#the-debutantes-cover-logo {
  font-size: 5vw;
  top: 62.5%;
  left: 2.5%;
  color: #000; }
  @media only screen and (max-width: 93.75em) {
    #the-debutantes-cover-logo {
      font-size: 6.9vw; } }
  @media only screen and (max-width: 62.5em) {
    #the-debutantes-cover-logo {
      font-size: 9.2vw; } }
  @media only screen and (max-width: 37.5em) {
    #the-debutantes-cover-logo {
      font-size: 11.05vw; } }

#two-years-cover-logo {
  font-size: 2.6vw;
  left: 51.1%;
  top: 89.7%; }
  @media only screen and (max-width: 93.75em) {
    #two-years-cover-logo {
      font-size: 3.6vw; } }
  @media only screen and (max-width: 62.5em) {
    #two-years-cover-logo {
      font-size: 4.85vw; } }
  @media only screen and (max-width: 37.5em) {
    #two-years-cover-logo {
      font-size: 5.8vw; } }

#korean-fan-death-cover-logo {
  font-size: 2.6vw;
  left: 48.6%;
  top: 89.7%; }
  @media only screen and (max-width: 93.75em) {
    #korean-fan-death-cover-logo {
      font-size: 3.6vw; } }
  @media only screen and (max-width: 62.5em) {
    #korean-fan-death-cover-logo {
      font-size: 4.85vw; } }
  @media only screen and (max-width: 37.5em) {
    #korean-fan-death-cover-logo {
      font-size: 5.8vw; } }

#cotillion-cover-logo {
  font-size: 8.77vw;
  left: 7.1%;
  top: 2.8%; }
  @media only screen and (max-width: 93.75em) {
    #cotillion-cover-logo {
      font-size: 12.1vw; } }
  @media only screen and (max-width: 62.5em) {
    #cotillion-cover-logo {
      font-size: 16.3vw; } }
  @media only screen and (max-width: 37.5em) {
    #cotillion-cover-logo {
      font-size: 19.5vw; } }

#top-logo {
  opacity: 0; }

.album {
  display: flex;
  position: relative;
  cursor: pointer;
  box-shadow: 1rem 1.4rem 3rem rgba(0, 0, 0, 0.1); }
  .album__cover-logo {
    font-family: "Levenim", sans-serif;
    position: absolute;
    z-index: 3; }
  .album > img {
    z-index: 2;
    width: 100%; }

.play-button-container {
  position: fixed;
  bottom: 0;
  right: 0;
  filter: drop-shadow(0.5rem 0.7rem 0px rgba(0, 0, 0, 0.2));
  z-index: 101; }

.play-button {
  position: fixed;
  bottom: 4rem;
  right: 5rem;
  height: 10rem;
  width: 10rem;
  cursor: pointer;
  background-color: #f0f0f0;
  z-index: 100;
  opacity: 0;
  visibility: hidden; }
  @media only screen and (max-width: 50em) {
    .play-button {
      bottom: 3rem;
      right: 2rem;
      height: 8rem;
      width: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .play-button {
      bottom: 2rem;
      right: 1.5rem;
      height: 7rem;
      width: 7rem; } }
  .play-button::before {
    background-color: #f0f0f0; }
  .play-button:hover {
    background-color: #3f3f3f; }
  .play-button--play {
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
    transition: clip-path 0.2s, background-color 0.6s; }
    .play-button--play::before {
      transition: clip-path 0.2s, width 0.2s 0.1s;
      content: '';
      position: absolute;
      height: 8.4rem;
      width: 8.4rem;
      left: 0.5rem;
      top: 0.8rem;
      clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%); }
      @media only screen and (max-width: 50em) {
        .play-button--play::before {
          height: 6.4rem;
          width: 6.4rem; } }
      @media only screen and (max-width: 37.5em) {
        .play-button--play::before {
          height: 5.4rem;
          width: 5.4rem; } }
  .play-button--stop {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 0.2s, background-color 0.6s; }
    .play-button--stop::before {
      transition: clip-path 0.2s;
      content: '';
      position: absolute;
      height: 9rem;
      width: 9rem;
      left: 0.5rem;
      top: 0.5rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
      @media only screen and (max-width: 50em) {
        .play-button--stop::before {
          height: 7rem;
          width: 7rem; } }
      @media only screen and (max-width: 37.5em) {
        .play-button--stop::before {
          height: 6rem;
          width: 6rem; } }

.albums {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 60vh 50vh repeat(4, minmax(max-content, 100vh));
  grid-template-columns: 3fr 4fr 3fr;
  position: relative;
  font-weight: 400; }
  @media only screen and (max-width: 93.75em) {
    .albums {
      grid-template-columns: 2fr 5fr 2fr; } }
  @media only screen and (max-width: 62.5em) {
    .albums {
      grid-template-columns: 1fr 6fr 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .albums {
      grid-template-rows: 60vh 50vh repeat(4, minmax(max-content, 75vh));
      grid-template-columns: 1fr 20fr 1fr; } }
  .albums__album-container {
    height: 100%;
    grid-column: 2 / span 1;
    display: flex;
    align-items: center;
    padding: 5rem 0; }
    @media only screen and (max-width: 37.5em) {
      .albums__album-container {
        padding: 0; } }
  .albums__logo {
    font-family: "Levenim", sans-serif;
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
    margin-top: -40vh;
    justify-self: center;
    filter: blur(2rem);
    opacity: 0; }
    .albums__logo span {
      z-index: 2;
      cursor: default; }
    @media only screen and (max-width: 50em) {
      .albums__logo {
        padding-top: 8rem; } }
  .albums__heading {
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    transition: color 2s cubic-bezier(0, 1.25, 0.94, 0.98); }

.description {
  display: grid;
  grid-template-rows: 70vh minmax(min-content, 300vh) 70vh;
  grid-template-columns: repeat(3, minmax(max-content, 1fr)); }
  @media only screen and (max-width: 50em) {
    .description {
      grid-template-rows: 40vh repeat(2, minmax(min-content, 230vh)) 70vh; } }
  .description__is-100 {
    display: inline-block;
    position: sticky;
    top: 8vh;
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    justify-self: center; }
    @media only screen and (max-width: 50em) {
      .description__is-100 {
        position: relative;
        font-size: 7.2vw; } }
    .description__is-100 #is {
      margin-bottom: 6rem; }
    .description__is-100 #hundred {
      transition: all 0.8s cubic-bezier(0, 0.9, 0.07, 0.85) 0.4s; }
      @media only screen and (max-width: 50em) {
        .description__is-100 #hundred {
          margin-top: 510vh; } }
  .description__list {
    grid-row: 2 / span 1;
    list-style: none;
    color: #f0f0f0;
    font-size: 4rem;
    text-align: center; }
    @media only screen and (max-width: 62.5em) {
      .description__list {
        font-size: 3.4rem; } }
    @media only screen and (max-width: 50em) {
      .description__list {
        grid-row: none;
        font-size: 5.6vw; } }
    .description__list > li {
      padding: 1.5rem 2rem;
      position: sticky;
      height: 1rem; }
    .description__list > :nth-child(1) {
      top: 27vh;
      margin-bottom: 72vh; }
      @media only screen and (max-width: 50em) {
        .description__list > :nth-child(1) {
          top: 15vh;
          margin-bottom: 60vh; } }
    .description__list > :nth-child(2) {
      top: 40vh;
      margin-bottom: 59vh; }
      @media only screen and (max-width: 50em) {
        .description__list > :nth-child(2) {
          top: 30vh;
          margin-bottom: 45vh; } }
    .description__list > :nth-child(3) {
      top: 53vh;
      margin-bottom: 46vh; }
      @media only screen and (max-width: 50em) {
        .description__list > :nth-child(3) {
          top: 45vh;
          margin-bottom: 30vh; } }
    .description__list > :nth-child(4) {
      top: 66vh;
      margin-bottom: 33vh; }
      @media only screen and (max-width: 50em) {
        .description__list > :nth-child(4) {
          top: 60vh;
          margin-bottom: 15vh; } }
    .description__list > :nth-child(5) {
      top: 79vh;
      margin-bottom: 20vh; }
      @media only screen and (max-width: 50em) {
        .description__list > :nth-child(5) {
          top: 75vh;
          margin-bottom: 0vh; } }
    .description__list > :first-child {
      transition: all 0.2s cubic-bezier(1, 0.31, 1, 1.14);
      top: 23vh; }
      @media only screen and (max-width: 50em) {
        .description__list > :first-child {
          top: 13vh;
          font-size: 7.2vw; } }
    .description__list > :last-child {
      font-size: 5rem; }
      @media only screen and (max-width: 62.5em) {
        .description__list > :last-child {
          font-size: 4.4rem; } }
      @media only screen and (max-width: 50em) {
        .description__list > :last-child {
          font-size: 7.2vw; } }
    @media only screen and (max-width: 75em) {
      .description__list--ben {
        padding-right: 10rem;
        padding-left: 9rem; } }
    @media only screen and (max-width: 62.5em) {
      .description__list--ben {
        padding-right: 3rem;
        padding-left: 5rem; } }
    @media only screen and (max-width: 50em) {
      .description__list--ben {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        margin-bottom: 20vh; } }
    .description__list--dima {
      grid-column: -2 /-1; }
      @media only screen and (max-width: 75em) {
        .description__list--dima {
          padding-left: 10rem;
          padding-right: 9rem; } }
      @media only screen and (max-width: 62.5em) {
        .description__list--dima {
          padding-right: 5rem;
          padding-left: 3rem; } }
      @media only screen and (max-width: 50em) {
        .description__list--dima {
          grid-row: 3 / span 1;
          grid-column: 2 / span 1; } }

.footer {
  grid-row: -1 / -2;
  grid-column: full-start / full-end;
  background-color: #1d1d1d;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Kumbh Sans", sans-serif; }
  @media only screen and (max-width: 50em) {
    .footer {
      justify-content: flex-start;
      z-index: 30; } }
  .footer > p {
    display: block;
    margin: 2rem;
    font-size: 1.6rem;
    line-height: 2.4rem; }
    @media only screen and (max-width: 75em) {
      .footer > p {
        width: 60%; } }
    .footer > p > a {
      color: #adc0e7; }
  @media only screen and (max-width: 50em) {
    .footer__links {
      padding-top: 3rem; } }
  .footer__builtby {
    text-align: center; }
  .footer ::selection {
    color: #000;
    background-color: #fff; }

.header {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  justify-self: center;
  z-index: 1; }

.main {
  grid-column: content-start / content-end;
  padding-bottom: 110vh;
  margin-bottom: -110vh;
  padding-top: 80vh;
  margin-top: -80vh; }
  @media only screen and (max-width: 75em) {
    .main {
      grid-column: full-start / full-end; } }

.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  color: #f0f0f0;
  white-space: nowrap;
  z-index: 20; }
  @media only screen and (max-width: 50em) {
    .navbar {
      left: -3.6rem; } }
  .navbar__list {
    list-style: none;
    font-size: 2rem;
    color: transparent;
    transition: color 0.3s;
    padding: 1rem 20rem 1.4rem 1.2rem; }
    .navbar__list > li {
      position: relative;
      border: 0.2rem solid #3f3f3f;
      height: 2.6rem;
      width: 2.6rem;
      margin: 1rem;
      border-radius: 50%; }
      @media only screen and (max-width: 93.75em) {
        .navbar__list > li {
          height: 3rem;
          width: 3rem; } }
      .navbar__list > li > .section-link {
        position: absolute;
        left: 3.4rem;
        top: -0.1rem;
        padding-left: 3.6rem;
        margin-left: -3.6rem;
        text-decoration: none;
        color: inherit;
        cursor: pointer; }
        @media only screen and (max-width: 93.75em) {
          .navbar__list > li > .section-link {
            left: 3.8rem;
            top: 0.2rem; } }
        .navbar__list > li > .section-link:hover, .navbar__list > li > .section-link:focus {
          color: #fcfcfc;
          text-shadow: 0 0 1px #fcfcfc; }
      .navbar__list > li:not(:last-child)::before {
        content: '';
        position: absolute;
        border: 0.1rem solid #3f3f3f;
        background-color: #3f3f3f;
        height: 1.2rem;
        left: 1rem;
        top: 2.3rem; }
        @media only screen and (max-width: 93.75em) {
          .navbar__list > li:not(:last-child)::before {
            height: 1.1rem;
            left: 1.1rem;
            top: 2.7rem; } }
        @media only screen and (max-width: 81.25em) {
          .navbar__list > li:not(:last-child)::before {
            left: 1.2rem; } }
      .navbar__list > li .nav-selected {
        transition: background-color 0.1s;
        position: absolute;
        border-radius: 50%;
        background-color: transparent;
        width: 1.6rem;
        height: 1.6rem;
        left: 0.3rem;
        top: 0.3rem; }
        @media only screen and (max-width: 93.75em) {
          .navbar__list > li .nav-selected {
            width: 2.1rem;
            height: 2.1rem;
            left: 0.3rem;
            top: 0.2rem; } }
        @media only screen and (max-width: 81.25em) {
          .navbar__list > li .nav-selected {
            height: 2rem;
            width: 2rem;
            left: 0.3rem;
            top: 0.3rem; } }
      .navbar__list > li .active {
        background-color: #3f3f3f; }
    .navbar__list:hover {
      color: inherit; }

.player {
  z-index: 31;
  position: fixed;
  overflow: hidden;
  bottom: 18rem;
  right: 5rem;
  width: 31rem;
  height: 51rem;
  box-shadow: 0.5rem 0.7rem 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, border 0.6s;
  background-color: #3f3f3f;
  border: 0.5rem solid #3f3f3f; }
  @media only screen and (max-width: 50em) {
    .player {
      bottom: 13rem;
      right: 1.5rem; } }
  .player > iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    border: 0;
    transition: transform 0.2s;
    background-color: white; }

.hidden-player {
  transform: scaleX(0);
  transform-origin: center; }

.hidden-iframe {
  transform: translateX(36rem); }

.reverse-scale {
  transform: scaleX(2);
  transform-origin: center; }
