.slide-right {
  transform: translateX(25vw);
  opacity: 0; }

.slide-left {
  transform: translateX(-25vw);
  opacity: 0; }

.slide-hidden {
  transform: translateY(-6rem);
  opacity: 0; }

.slide-down {
  transform: translateY(0);
  opacity: 1; }

.change-color {
  color: #3f3f3f; }

.album__cover-logo {
  filter: blur(2rem);
  opacity: 0; }

.animation-fadeout {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.animation-fadein {
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards; }

.show-button {
  animation-name: show;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

@keyframes fadeout {
  0% {
    filter: blur(0);
    opacity: 1; }
  100% {
    filter: blur(2rem);
    opacity: 0; } }

@keyframes fadein {
  0% {
    filter: blur(2rem);
    opacity: 0; }
  100% {
    filter: blur(0);
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 93.75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 80vh 1fr min-content 29rem;
  grid-template-columns: [full-start] 13vw [content-start] repeat(3, [col-start] 1fr [col-end]) [content-end] 13vw [full-end];
  background: linear-gradient(to bottom, #4d7bcc, #3f6bb6);
  color: #f0f0f0; }

@font-face {
  font-family: 'Levenim';
  src: local("Levenim MT"), url("../public/font/lvnm.woff") format("woff"); }

body {
  font-family: "Milonga", sans-serif; }

::selection {
  color: #5e87cf;
  background-color: #555555; }

.logo {
  display: inline-block;
  font-family: "Levenim", sans-serif;
  font-size: 29rem;
  font-weight: 400;
  margin-top: 2rem; }

.heading-2 {
  font-size: 6rem;
  text-align: center; }

#the-debutantes-cover-logo {
  font-size: 5vw;
  top: 62.5%;
  left: 2.5%;
  color: black; }

#two-years-cover-logo {
  font-size: 2.6vw;
  left: 51.1%;
  top: 89.7%; }

#korean-fan-death-cover-logo {
  font-size: 2.6vw;
  left: 48.6%;
  top: 89.7%; }

#cotillion-cover-logo {
  font-size: 8.77vw;
  left: 7.1%;
  top: 2.8%; }

#top-logo {
  opacity: 0; }

.album {
  display: flex;
  position: relative;
  cursor: pointer;
  box-shadow: 1rem 1.4rem 3rem rgba(0, 0, 0, 0.1); }
  .album__cover-logo {
    font-family: "Levenim", sans-serif;
    position: absolute;
    z-index: 3; }
  .album > img {
    z-index: 2;
    width: 100%;
    height: 100%; }

.play-button-container {
  position: fixed;
  bottom: 0;
  right: 0;
  filter: drop-shadow(0.5rem 0.7rem 0px rgba(0, 0, 0, 0.2)); }

.play-button {
  position: fixed;
  bottom: 4rem;
  right: 5rem;
  height: 10rem;
  width: 10rem;
  cursor: pointer;
  background-color: #f0f0f0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden; }
  .play-button::before {
    background-color: #f0f0f0; }
  .play-button:hover {
    background-color: #3f3f3f; }
  .play-button--play {
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
    transition: clip-path 0.2s, background-color 0.6s; }
    .play-button--play::before {
      transition: clip-path 0.2s, width 0.2s 0.1s;
      content: '';
      position: absolute;
      height: 8.4rem;
      width: 8.4rem;
      left: 0.5rem;
      top: 0.8rem;
      clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%); }
  .play-button--stop {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 0.2s, background-color 0.6s; }
    .play-button--stop::before {
      transition: clip-path 0.2s;
      content: '';
      position: absolute;
      height: 9rem;
      width: 9rem;
      left: 0.5rem;
      top: 0.5rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }

.albums {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 70vh 70vh repeat(4, 1fr);
  grid-template-columns: 3fr 4fr 3fr;
  position: relative;
  font-weight: 400; }
  .albums__album-container {
    grid-column: 2 / span 1;
    padding-top: 7rem;
    padding-bottom: 10rem; }
  .albums__logo {
    font-family: "Levenim", sans-serif;
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
    margin-top: -40vh;
    justify-self: center;
    filter: blur(2rem);
    opacity: 0; }
    .albums__logo span {
      z-index: 2;
      cursor: default; }
  .albums__heading {
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    transition: color 2s cubic-bezier(0, 1.25, 0.94, 0.98); }

.description {
  display: grid;
  grid-template-rows: 70vh minmax(min-content, 300vh) 70vh;
  grid-template-columns: repeat(3, minmax(max-content, 1fr)); }
  .description__is-100 {
    display: inline-block;
    position: sticky;
    top: 8vh;
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    justify-self: center; }
    .description__is-100 #is {
      margin-bottom: 6rem; }
    .description__is-100 #hundred {
      transition: all 0.8s cubic-bezier(0, 0.9, 0.07, 0.85) 0.4s; }
  .description__list {
    grid-row: 2 / span 1;
    list-style: none;
    color: #f0f0f0;
    font-size: 4rem;
    text-align: center; }
    .description__list > li {
      padding: 1.5rem 2rem;
      position: sticky;
      height: 1rem; }
    .description__list > :nth-child(1) {
      top: 27vh;
      margin-bottom: 72vh; }
    .description__list > :nth-child(2) {
      top: 40vh;
      margin-bottom: 59vh; }
    .description__list > :nth-child(3) {
      top: 53vh;
      margin-bottom: 46vh; }
    .description__list > :nth-child(4) {
      top: 66vh;
      margin-bottom: 33vh; }
    .description__list > :nth-child(5) {
      top: 79vh;
      margin-bottom: 20vh; }
    .description__list > :first-child {
      transition: all 0.2s cubic-bezier(1, 0.31, 1, 1.14);
      top: 23vh; }
    .description__list > :last-child {
      font-size: 5rem; }
    .description__list--dima {
      grid-column: -2 /-1; }

.footer {
  grid-row: -1 / -2;
  grid-column: full-start / full-end;
  background-color: #1d1d1d;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Kumbh Sans", sans-serif; }
  .footer > p {
    display: block;
    margin: 2rem;
    font-size: 1.6rem; }
    .footer > p > a {
      color: #adc0e7; }
  .footer ::selection {
    color: #000;
    background-color: #fff; }

.header {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  justify-self: center; }

.main {
  grid-column: content-start / content-end;
  padding-bottom: 140vh;
  margin-bottom: -140vh;
  padding-top: 80vh;
  margin-top: -80vh; }

.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  color: #f0f0f0;
  white-space: nowrap;
  z-index: 20; }
  .navbar__list {
    list-style: none;
    font-size: 2rem;
    color: transparent;
    transition: color 0.3s;
    padding: 1rem 20rem 1.4rem 1.2rem; }
    .navbar__list > li {
      position: relative;
      border: max(2px, 0.2rem) solid #3f3f3f;
      height: 2.6rem;
      width: 2.6rem;
      margin: 1rem;
      border-radius: 50%; }
      @media only screen and (max-width: 93.75em) {
        .navbar__list > li {
          height: 3rem;
          width: 3rem; } }
      .navbar__list > li > .section-link {
        position: absolute;
        left: 3.4rem;
        top: -0.1rem;
        padding-left: 3.6rem;
        margin-left: -3.6rem; }
        @media only screen and (max-width: 93.75em) {
          .navbar__list > li > .section-link {
            left: 3.8rem;
            top: 0.2rem; } }
        .navbar__list > li > .section-link:hover {
          color: #fcfcfc;
          text-shadow: 0 0 1px #fcfcfc; }
      .navbar__list > li:not(:last-child)::before {
        content: '';
        position: absolute;
        border: 0.1rem solid #3f3f3f;
        background-color: #3f3f3f;
        height: 1.2rem;
        left: 1rem;
        top: 2.3rem; }
        @media only screen and (max-width: 93.75em) {
          .navbar__list > li:not(:last-child)::before {
            height: 1.1rem;
            left: 1.1rem;
            top: 2.7rem; } }
        @media only screen and (max-width: 81.25em) {
          .navbar__list > li:not(:last-child)::before {
            left: 1.2rem; } }
      .navbar__list > li .nav-selected {
        transition: background-color 0.1s;
        position: absolute;
        border-radius: 50%;
        background-color: transparent;
        width: 1.6rem;
        height: 1.6rem;
        left: 0.3rem;
        top: 0.3rem; }
        @media only screen and (max-width: 93.75em) {
          .navbar__list > li .nav-selected {
            width: 2.1rem;
            height: 2.1rem;
            left: 0.3rem;
            top: 0.2rem; } }
        @media only screen and (max-width: 81.25em) {
          .navbar__list > li .nav-selected {
            height: 2rem;
            width: 2rem;
            left: 0.3rem;
            top: 0.3rem; } }
      .navbar__list > li .active {
        background-color: #3f3f3f; }
    .navbar__list:hover {
      color: inherit; }
    .navbar__list .section-link {
      text-decoration: none;
      color: inherit;
      cursor: pointer; }

.player {
  z-index: 10;
  position: fixed;
  overflow: hidden;
  bottom: 18rem;
  right: 5rem;
  width: 31rem;
  height: 51rem;
  box-shadow: 0.5rem 0.7rem 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, border 0.6s;
  background-color: #3f3f3f;
  border: 0.5rem solid #3f3f3f; }
  .player > iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    border: 0;
    transition: transform 0.2s;
    background-color: white; }

.hidden-player {
  transform: scaleX(0);
  transform-origin: center; }

.hidden-iframe {
  transform: translateX(36rem); }

.reverse-scale {
  transform: scaleX(2);
  transform-origin: center; }
