// $font-primary: 'Arima Madurai', sans-serif;
// $font-primary: 'Oleo Script Swash Caps', sans-serif;
// $font-primary: 'Cherry Swash', sans-serif;
$font-primary: 'Milonga', sans-serif;
$font-logo: 'Levenim', sans-serif;

$font-size-large: 6rem;
$font-size-medium: 4rem;
$font-size-small: 2rem;

$color-text: #f0f0f0;
$color-text-bright: #fcfcfc;

// $color-navbar: #3f3f3f;
$color-navbar: #3f3f3f;

$shadow-small: 0.5rem 0.7rem 0px rgba(0, 0, 0, 0.2);
$shadow-medium: 0.5rem 0.7rem 0px rgba(0, 0, 0, 0.2);
$shadow-large: 1rem 1.4rem 3rem rgba(0, 0, 0, 0.1);

// Arima Madurai
// Oleo Script Swash Caps
// Cherry Swash
// Milonga
