$font-primary: 'Roboto Slab', serif;
$font-logo: 'Levenim', sans-serif;

$font-size-large: 7rem;
$font-size-medium: 4rem;
$font-size-small: 2rem;

$color-text: #f0f0f0;
// $color-navbar: #3f3f3f;
$color-navbar: #3f3f3f;
