@font-face {
  font-family: 'Levenim';
  src: local('Levenim MT'), url('../public/lvnm.woff') format('woff');
}

// Variables
$font-primary: 'Roboto Slab', serif;
$font-logo: 'Levenim', sans-serif;

$font-size-large: 7rem;
$font-size-medium: 4rem;

$color-text: #f0f0f0;

// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
}

.container {
  display: grid;
  grid-template-rows: 80vh 1fr;
  grid-template-columns:
    [full-start] 15vw [content-start] repeat(3, [col-start] 1fr [col-end])
    [content-end] 15vw [full-end];

  background: linear-gradient(to bottom, #4e6c9e, #edac8e);
  // height: 5000px;
}

/*
.container {
  height: 2000px;
  position: relative;
}

.before {
  position: absolute;
  top: 2rem;
  left: 2rem;
  margin: 2rem;
  color: rgb(1, 1, 105);
  display: inline-block;
  font-size: 10rem;
  font-family: $font-logo;
  transition: all 0.6s cubic-bezier(1, 0.23, 0.5, 0.99);

  transform: scale(1);
}

.after {
  // transform: translate(500px, 500px);
}
*/
