.logo {
  display: inline-block;
  font-family: $font-logo;
  font-size: 30rem;
  font-weight: 400;
  color: $color-text;
  margin-top: 2rem;
}

.heading-2 {
  color: $color-text;
  font-size: $font-size-large;
  text-align: center;
}

.description {
  display: grid;
  grid-template-rows: 70vh min-content 150vh;
  grid-template-columns: repeat(3, minmax(max-content, 1fr));

  #is {
    display: block;
    position: sticky;
    top: 8vh;
    // margin-bottom: -100rem;
  }

  .heading-2 {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
  }

  &__list {
    // transition: all 1s;

    list-style: none;
    color: $color-text;
    font-size: $font-size-medium;

    & > li {
      padding: 1.5rem 2rem;
      position: sticky;
      // overflow: hidden;
      // margin-bottom: 10rem;
      // height: 30rem;
    }

    @for $i from 1 through 5 {
      & > :nth-child(#{$i}) {
        top: ($i * 13vh) + 16vh;
        margin-bottom: 85vh - $i * 13vh;
      }
      // & > :nth-child(#{$i + 1}) {
      //   top: $i * 10vh + 35vh;
      //   margin-top: $i * 10vh;
      //   margin-bottom: $i * (-10vh) - 10vh;
      // }
    }

    & > :first-child {
      // transition: all 0.5s;
      // transform: translateX(0vw);
      // position: sticky;
      top: 23vh;
      // margin-bottom: 50vh;
    }

    & > :last-child {
      text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }

    &--dima {
      grid-column: -2 /-1;
    }
  }

  &__logo {
    grid-row: -2 / -1;
    grid-column: 1 / -1;
    justify-self: center;
  }
}

.slide-right {
  transform: translateX(25vw);
}

.slide-left {
  transform: translateX(-25vw);
}
