.logo {
  display: inline-block;
  font-family: $font-logo;
  font-size: 30rem;
  font-weight: 400;
  color: $color-text;
  margin-top: 2rem;
}

.description {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));

  .heading-2 {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;

    color: $color-text;
    font-size: $font-size-large;
    justify-self: center;
  }

  &__list {
    list-style: none;
    color: $color-text;
    font-size: $font-size-medium;

    & > li {
      padding: 1.5rem 0;
    }

    & > :first-child {
      text-align: center;
      padding-bottom: 3rem;
    }

    &--dima {
      grid-column: -2 /-1;
    }
  }
}
