.description {
  display: grid;
  grid-template-rows: 70vh minmax(min-content, 305vh) 70vh;
  grid-template-columns: repeat(3, minmax(max-content, 1fr));

  &__is-100 {
    display: inline-block;
    position: sticky;
    top: 8vh;
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    justify-self: center;

    #is {
      margin-bottom: 6rem;
    }

    #hundred {
      transition: all 0.8s cubic-bezier(0, 0.9, 0.07, 0.85) 0.4s;
    }
  }

  &__list {
    grid-row: 2 / span 1;
    list-style: none;
    color: $color-text;
    font-size: $font-size-medium;
    text-align: center;

    & > li {
      padding: 1.5rem 2rem;
      position: sticky;
      height: 0;
    }

    @for $i from 1 through 5 {
      & > :nth-child(#{$i}) {
        top: ($i * 13vh) + 14vh;
        margin-bottom: 85vh - $i * 13vh;
      }
    }

    & > :first-child {
      transition: all 0.2s cubic-bezier(1, 0.31, 1, 1.14);
      top: 23vh;
      // height: auto;
    }

    & > :last-child {
      // text-shadow: 10px 10px 10px rgba(65, 65, 65, 0.5);
      // font-size: $font-size-large;
      // height: 10rem;
      // color: white;
      // font-weight: 700;
      font-size: 5rem;

      // color: white;
      // border-bottom: 2px dotted $color-text;
      z-index: 1000;
      // background-color: darkslateblue;

      &::before {
        position: absolute;
        left: 10%;
        top: 30%;
        content: '';
        width: 75%;
        height: 50%;
        background-color: transparent;
        z-index: -1;
        transform: rotate(-1deg);
        border-radius: 5px;
      }
      // &::after {
      //   position: absolute;
      //   left: 0%;
      //   top: 100%;
      //   content: '';
      //   width: 100%;
      //   height: 4%;
      //   background-color: $color-text;
      //   z-index: -2;
      //   transform: rotate(2deg);
      //   border-radius: 5px;
      // }
    }

    &--dima {
      grid-column: -2 /-1;
    }
  }
}
