.footer {
  grid-row: -1 / -2;
  grid-column: full-start / full-end;

  background-color: #1d1d1d;
  margin-top: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > p {
    display: block;
    margin: 2rem;
    font-size: 1.6rem;

    & > a {
      color: #adc0e7;
      // text-decoration-style: double;
    }
  }
}
