.main {
  grid-column: content-start / content-end;
  padding-bottom: 110vh;
  margin-bottom: -110vh;
  padding-top: 80vh;
  margin-top: -80vh;

  @include responsive(bp1200) {
    grid-column: full-start / full-end;
  }
}
