.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  color: $color-text;
  white-space: nowrap;

  &__list {
    list-style: none;
    font-size: $font-size-small;
    color: transparent;
    transition: color 0.3s;
    padding: 1rem 20rem 1.4rem 1.2rem;

    & > li {
      position: relative;
      // css max() doesn't work in sass properly. sass unquote() is a workaround
      border: unquote('max(2px, 0.2rem)') solid $color-navbar;
      height: 2.6rem;
      width: 2.6rem;
      margin: 1rem;
      border-radius: 50%;

      & > .section-link {
        position: absolute;
        left: 3.4rem;
        top: -0.2rem;
        padding-left: 3.6rem;
        margin-left: -3.6rem;

        &:hover {
          color: #fcfcfc;
          text-shadow: 0 0 1px #fcfcfc;
        }
      }

      &:not(:last-child)::before {
        content: '';
        position: absolute;
        border: 0.1rem solid $color-navbar;
        background-color: $color-navbar;
        height: 1.2rem;
        left: 1rem;
        top: 2.3rem;
      }

      .nav-selected {
        position: absolute;
        border-radius: 50%;
        width: 1.6rem;
        height: 1.6rem;
        background-color: transparent;
        left: 0.3rem;
        top: 0.3rem;
      }

      .active {
        background-color: $color-navbar;
      }
    }

    &:hover {
      color: inherit;
    }

    .section-link {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }
  }
}
