.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  color: $color-text;
  white-space: nowrap;
  z-index: 20;

  @include responsive(bp800) {
    display: none;
  }

  &__list {
    list-style: none;
    font-size: $font-size-small;
    color: transparent;
    transition: color 0.3s;
    padding: 1rem 20rem 1.4rem 1.2rem;

    & > li {
      position: relative;
      // css max() doesn't work in sass properly with different units. calc(max(2px, 0.2rem)) is a workaround
      border: calc(max(2px, 0.2rem)) solid $color-navbar;
      height: 2.6rem;
      width: 2.6rem;
      margin: 1rem;
      border-radius: 50%;

      @include responsive(bp1500) {
        height: 3rem;
        width: 3rem;
      }

      & > .section-link {
        position: absolute;
        left: 3.4rem;
        top: -0.1rem;
        padding-left: 3.6rem;
        margin-left: -3.6rem;

        text-decoration: none;
        color: inherit;
        cursor: pointer;

        @include responsive(bp1500) {
          left: 3.8rem;
          top: 0.2rem;
        }

        &:hover,
        &:focus {
          color: #fcfcfc;
          text-shadow: 0 0 1px #fcfcfc;
        }
      }

      &:not(:last-child)::before {
        content: '';
        position: absolute;
        border: 0.1rem solid $color-navbar;
        background-color: $color-navbar;
        height: 1.2rem;
        left: 1rem;
        top: 2.3rem;

        @include responsive(bp1500) {
          height: 1.1rem;
          left: 1.1rem;
          top: 2.7rem;
        }

        @include responsive(bp1300) {
          left: 1.2rem;
        }
      }

      .nav-selected {
        transition: background-color 0.1s;

        position: absolute;
        border-radius: 50%;
        background-color: transparent;
        width: 1.6rem;
        height: 1.6rem;
        left: 0.3rem;
        top: 0.3rem;

        @include responsive(bp1500) {
          width: 2.1rem;
          height: 2.1rem;
          left: 0.3rem;
          top: 0.2rem;
        }

        @include responsive(bp1300) {
          height: 2rem;
          width: 2rem;
          left: 0.3rem;
          top: 0.3rem;
        }
      }

      .active {
        background-color: $color-navbar;
      }
    }

    &:hover {
      color: inherit;
    }
  }
}
