.player {
  z-index: 10;
  position: fixed;
  overflow: hidden;
  bottom: 18rem;
  right: 5rem;
  width: 31rem;
  height: 51rem;

  transition: transform 0.2s, border 0.6s;

  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    border: 0;
    transition: transform 0.2s;

    background-color: white;
  }
}

.hidden-player {
  transform: scaleX(0);
  transform-origin: center;
  // transform: translateX(36rem);
}

.hidden-iframe {
  transform: translateX(36rem);
}

// #player-two-years {
//   background-color: rgb(131, 41, 5);
// }

// #player-the-debutantes {
//   background-color: black;
// }

// #player-korean-fan-death {
//   background-color: crimson;
// }

// #player-cotillion {
//   background-color: skyblue;
// }
