.player {
  z-index: 31;
  position: fixed;
  overflow: hidden;
  bottom: 18rem;
  right: 5rem;
  width: 310px;
  height: 510px;
  box-shadow: $shadow-medium;

  transition: transform 0.2s, border 0.6s;
  background-color: $color-navbar;
  border: 0.5rem solid $color-navbar;

  @include responsive(bp800) {
    bottom: 13rem;
    right: 1.5rem;
  }

  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    border: 0;
    transition: transform 0.2s;

    background-color: white;
  }
}

.hidden-player {
  transform: scaleX(0);
  transform-origin: center;
}

.hidden-iframe {
  transform: translateX(36rem);
}

.reverse-scale {
  transform: scaleX(2);
  transform-origin: center;
}
