.album {
  // display: flex; fixes the difference of allignment of the logos between browsers and also fixes the logos moving when resizing the page
  display: flex;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s, outline 0.1s;
  outline: 5px solid transparent;

  box-shadow: $shadow-large;

  &__cover-logo {
    font-family: $font-logo;
    position: absolute;
    z-index: 3;
  }

  & > img {
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: scale(1.009, 1.009);
    box-shadow: $shadow-largest;
  }
}

.add-border {
  outline: 5px solid $color-text;
}
