.album {
  // display: flex; fixes the difference of allignment of the logos between browsers and also fixes the logos moving when resizing the page
  display: flex;
  position: relative;

  &__cover-logo {
    position: absolute;
  }

  & > img {
    width: 100%;
    height: 100%;
  }
}
