.cotillion-album-logo {
  top: -100vh;

  &--td {
    position: absolute;
    height: 0;

    margin-left: -20vw;
    top: 250vh;
    font-size: 6vw;
    color: black;
  }

  &--c {
    font-size: 9vw;

    margin-top: 2.8%;
    margin-left: 6.8%;
  }

  &--kfd {
  }

  &--ty {
  }
}
