.player {
  // z-index: 4;
  align-self: end;
  justify-self: center;
  opacity: 0.97;
  margin-bottom: 10rem;
  transform: translateX(35vw);
  transition: all 0.5s;
  // position: fixed;
  // bottom: 2rem;
  // right: 2rem;
}

// .albums__album-container:hover {
//   & + * {
//     animation-name: warp;
//     animation-duration: 0.8s;
//     animation-fill-mode: forwards;
//     animation-timing-function: cubic-bezier(0.86, 0.16, 0.49, 0.95);
//   }
// }

// img {
//   z-index: 5;
// }

// @keyframes warp {
//   0% {
//     transform: translateX(-35vw) scale(0.3) rotateY(0);
//     z-index: 0;
//   }

//   50% {
//     transform: translateX(0) scale(0.75) rotateY(45deg) skew(15deg, -15deg);
//   }

//   // 90% {
//   //   transform: rotateY(-10deg);
//   // }

//   100% {
//     transform: translateX(-35vw) scale(1) rotateY(0) skew(0);
//     z-index: 10;
//   }
// }
