.play-button {
  position: fixed;
  bottom: 4rem;
  right: 5rem;
  height: 10rem;
  width: 10rem;
  cursor: pointer;
  // transition: all 0.4s;
  background-color: $color-text;

  // z-index: -1;
  opacity: 0;
  visibility: hidden;

  &::before {
    background-color: $color-text;
  }

  &:hover {
    background-color: $color-navbar;
  }

  &--play {
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
    transition: clip-path 0.2s, background-color 0.6s;

    &::before {
      transition: clip-path 0.2s, width 0.2s 0.1s;

      content: '';
      position: absolute;
      height: 8.4rem;
      width: 8.4rem;
      left: 0.5rem;
      top: 0.8rem;
      clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
    }
  }

  &--stop {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 0.2s, background-color 0.6s;

    &::before {
      transition: clip-path 0.2s;

      content: '';
      position: absolute;
      height: 9rem;
      width: 9rem;
      left: 0.5rem;
      top: 0.5rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
}
