// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include responsive(bp1500) {
    font-size: 56.25%;
  }

  @include responsive(bp1300) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 80vh 1fr min-content 31rem;
  grid-template-columns:
    [full-start] 13vw [content-start] repeat(3, [col-start] 1fr [col-end])
    [content-end] 13vw [full-end];

  background: linear-gradient(to bottom, #4d7bcc, #3f6bb6);
  color: $color-text;

  @include responsive(bp800) {
    grid-template-rows: 70vh 1fr min-content minmax(min-content, 33vh);
  }
}
