@font-face {
  font-family: 'Levenim';
  src: local('Levenim MT'), url('../public/font/lvnm.woff') format('woff');
}

body {
  font-family: $font-primary;
}

.logo {
  display: inline-block;
  font-family: $font-logo;
  font-size: 29rem;
  font-weight: 400;
  margin-top: 2rem;
}

.heading-2 {
  font-size: $font-size-large;
  text-align: center;
}

.link {
  color: $color-text;
  // text-decoration-style: wavy;
  text-decoration: none;
  border-bottom: 4px dotted rgba($color-text, 0.5);
  color: rgb(255, 255, 255);
}

#the-debutantes-cover-logo {
  font-size: 5vw;
  top: 62.5%;
  left: 2.5%;
  color: black;
}

#two-years-cover-logo {
  font-size: 2.6vw;
  left: 51.1%;
  top: 89.7%;
}

#korean-fan-death-cover-logo {
  font-size: 2.6vw;
  left: 48.6%;
  top: 89.7%;
}

#cotillion-cover-logo {
  font-size: 8.77vw;
  left: 7.1%;
  top: 2.8%;
}
